body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

/* Navigation */

nav {

    background: #ffffff;
    width: 1903px;
    height: 70px;

}
    a {
        line-height: 4;
        color: #021428;
        font-weight: lighter;
        text-decoration: none;
        margin-left: 20px;
        position: relative;
        top: -17px;
        left: 40px;
    }

    a:hover {
        color: lightgreen;
    }


    a.active {
        color: lightgreen;

    }

    img#logo {
        margin-left: 402px;
        margin-right: 20px;
        margin-top: 11px;

    }

    /*Slideshow*/

    img#slideshow {
    border-bottom: 10px solid #021428;
    width: 1903px;
    
    }

   

   section#paragraph {
    margin: 100px;


   }

   h1#page-title {
    margin-left: 400px;
    color: black;

   }
h3.mainHead {
    color: lightgreen;

}
   

   /*portfolio page*/


   img#project1-image, img#project2-image, img#project3-image {
    margin-left: 401px;
    border: #495057;


   }

div#project1 {
    margin-left: 1201px;
    position: absolute;
    top: 123px;
    left: 0px;
    width: 466px;
    color: #021428;

   }

   .main {
       color: black;
       margin-left: 45%;
       font-size: 30px;
   }

   .main:hover {
       color: lightgreen;
   }

a.project1-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;

   }

a.project1-button:hover {
    background-color: lightgreen;
}
  
 div#project2{
    margin-left: 1201px;
    position: absolute;
    top: 531px;
    left: 0px;
    width: 466px;

}



a.project2-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;


}

a.project2-button:hover {
    background-color: lightgreen;
}
div#project3 {
    margin-left: 1201px;
    position: absolute;
    top: 929px;
    left: 0px;
    width: 466px;

}



a.project3-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;

}
   
a.project3-button:hover {
    background-color: lightgreen;
}

section#project2 {
    margin-top: 100px;

   }

section#project3 {
    margin-top: 100px;
}


/* about page */

img#about-image {
    margin-left: 399px;


}

/* Contact Page */

form {
    margin-left: 399px;

}

.form-control {
    display: block;
    width: 40%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: black;
    padding: 20px;

}

.btn-primary:hover {
    color: black;
    background-color: lightgreen;
    border-color: lightgreen;

}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}



/*footer*/

footer {

    margin-top: 200px;
    background: white;   
    width: 100%;
    height: 215px;
    color: black;    
   }

   p#footer-text {
    line-height: 13;
    text-align: center;

   }
