body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

/* Navigation */

nav {

    background: #ffffff;
    width: 1903px;
    height: 70px;

}
    a {
        line-height: 4;
        color: #021428;
        font-weight: lighter;
        text-decoration: none;
        margin-left: 20px;
        position: relative;
        top: -17px;
        left: 40px;
    }

    a:hover {
        color: lightgreen;
    }


    a.active {
        color: lightgreen;

    }

    img#logo {
        margin-left: 402px;
        margin-right: 20px;
        margin-top: 11px;

    }

    /*Slideshow*/

    img#slideshow {
    border-bottom: 10px solid #021428;
    width: 1903px;
    
    }

   footer {

    margin-top: 200px;
    background: white;   
    width: 100%;
    height: 215px;
    color: black;    
   }

   p#footer-text {
    line-height: 13;
    text-align: center;

   }

   section#paragraph {
    margin: 100px;


   }

   h1#page-title {
    margin-left: 400px;
    color: black;

   }

   /*portfolio page*/


   img#project1-image, img#project2-image, img#project3-image {
    margin-left: 401px;


   }

div#project1 {
    margin-left: 1201px;
    position: absolute;
    top: 123px;
    left: 0px;
    width: 466px;
    color: #021428;

   }

   

a.project1-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;

   }
  
 div#project2{
    margin-left: 1201px;
    position: absolute;
    top: 531px;
    left: 0px;
    width: 466px;

}



a.project2-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;


}
div#project3 {
    margin-left: 1201px;
    position: absolute;
    top: 929px;
    left: 0px;
    width: 466px;

}



a.project3-button {
    width: 100px;
    height: 60px;
    background: #ffffff;
    padding: 20px;
    position: relative;
    top: 4px;
    left: -21px;
    border: 1px solid black;
    color: #021428;

}
   

section#project2 {
    margin-top: 100px;

   }

section#project3 {
    margin-top: 100px;
}

